* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

$brand-color1: #F7931E;
$brand-color2: #006837;

$transition: .3s;

// Colors
$bg-color: #fff;
$dot-color: #F2F2F2;

// Dimensions
$dot-size: 4px;
$dot-space: 24px;

.full-width {
    width: 100%;
}

body {

}

.banner {
    position: relative;

    .header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 80px;
        background: rgba(0, 104, 55, .8);

        .box-logo {
            text-align: left;

            a {
                line-height: 80px;
                display: inline-block;

                img {
                    max-width: 93px;
                }
            }
        }

        .box-menu {
            ul {
                text-align: right;

                li {
                    display: inline-block;
                    line-height: 80px;
                    color: #fff;
                    text-transform: uppercase;
                    margin-left: 27px;
                    font-size: 14px;

                    span {
                        img {
                            padding-left: 7px;
                        }
                    }

                    &.active {
                        color: $brand-color1;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .banner-form {
        position: absolute;
        right: 0;
        top: 80px;
        bottom: 0;
        width: 442px;
        background: #005036;
        border-top: 5px solid rgba(247, 147, 30, .5);
        padding: 50px 30px;

        .title-form {
            color: #fff;
            text-align: center;
            font-size: 31.5px;
            font-weight: bold;
        }

        .sub-title-form {
            color: #fff;
            font-family: Lato;
            font-size: 16px;
            height: 42px;
            text-align: center;
            padding-top: 6px;
        }
    }

}

.group-intro {
    background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
    background-size: $dot-space $dot-space;
    padding: 115px 0 122px 0;

    .news {
        .box-news {
            display: flex;

            .item-news {
                margin-left: 22px;
                width: 100%;
                height: 350px;
                background: blue;
                max-width: 33%;
                position: relative;
                text-align: center;

                &:first-child {
                    margin-left: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .box-text {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 50%;
                    background-color: transparent;
                    background-image: linear-gradient(transparent, #1A1A1A);

                    button {
                        min-width: 120px;
                        height: 25px;
                        border: 1px solid $brand-color1;
                        border-radius: 13px;
                        background: transparent;
                        color: $brand-color1;
                        text-align: center;
                        position: absolute;
                        bottom: 19px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        text-transform: uppercase;
                    }

                    h3 {
                        position: absolute;
                        color: #fff;
                        bottom: 58px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        text-transform: uppercase;
                    }

                }
            }
        }
    }

    .university {
        padding-top: 80px;
    }

    .stories {
        .section-title {
            text-align: center;

            p {
                position: relative;
                display: inline-block;

                .title-img {
                    img {
                        width: 25px;
                        height: 15px;

                    }
                }

                .title-text {
                    text-transform: uppercase;
                    color: $brand-color2;
                    font-size: 32px;
                    font-weight: bold;
                    display: inline-block;
                    padding: 0px 28px;
                }
            }
        }

        .section-content {

        }
    }
}

.footer-menu {

}

.footer {

}